.product-overlay {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, .1);
  box-sizing: border-box;
  height: 100vh;
  left: -100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: all ease-in-out .5s;
  width: 100%;
  z-index: 100;
}

.product-overlay-shown {
  left: 0;
}