.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

header{
  background: url("./images/header.png") center no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30;
}

header nav{
  float: right;
  height: 100px;
}



header nav ul li{
  list-style-type: none;
  float: left;
  height: 100px;
  margin: 0 10px;
}

.cart_nav_wrapper a{
  text-decoration: none;
}

header nav .cart_quantity{
  background-color: #fff;
  color: #444;
  border-radius: 50%;
  padding: 2.5px 8px;
  font-size: 10px;
  font-weight: 900;
  margin-top: -20px;
  margin-left: -20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main{
  position: relative;
  margin-top: 100px;
  width: 100%; 
}

header .login_btn a{
  float: right;
  text-decoration: none;
  /*font-weight: bold;*/
  color: #333;
  margin-top: 5px;
  margin-right: 5px; 
}

.search_wrapper{
  text-align: center;
}

.search{
  position: relative;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.filters span{
  border: 1px solid #444;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: inline-block;
  text-align: center;
  padding-top: 20px;
  font-size: 12px;
  box-sizing: border-box;
  margin: 0 10px;
  box-shadow: 1px 2px 4px #000;
  cursor: pointer;
}

.filters span:hover{
  box-shadow: 1px 2px 3px #999;
}

.filters span.active{
  border: 1px solid #0e96ff;
  box-shadow: 1px 2px 3px #0e96ff;
}

.filters span input{
  position: absolute;
  width: 25vw;
  min-width: 400px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 1px 2px 4px #000;
  left: 20px;
  bottom: 0px;
  z-index: 20;
  padding-left: 10px;
  box-sizing: border-box;
}

.searchInput{
  width: 25vw;
  min-width: 400px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 1px 2px 4px #000;
  padding-left: 10px;
}

.searchBtn{
  height: 52px;
  border: 2px solid #444;
  background-color: #444;
  border-radius: 15px;
  color: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 1px 2px 4px #000;
  cursor: pointer;
}

.searchBtn:hover{
  box-shadow: 1px 2px 2px #000;
}

.searchBtn:active{
  box-shadow: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
